absl-py
addict
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
flatbuffers
fonttools
fqdn
gast
google-pasta
grpcio
h11
h5py
httpcore
httpx
humanfriendly
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mltu
mpmath
namex
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
onnxruntime
opencv-python
opt-einsum
optree
outcome
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pycparser
Pygments
pyparsing
pyreadline3
PySocks
python-dateutil
python-dotenv
python-json-logger
python-telegram-bot
pytz
PyYAML
pyzmq
qqdm
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
selenium
Send2Trash
setuptools
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
